# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage

# Entornos / secretos
.env
*.pem

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Artefactos
dist/
build/
exports/
